<template name="tagPage">
	<div class="main page">
		<div class="form-group">
			<div class="controls">
				{{#if followedText}}
					<a class="btn btn-primary submit {{followedClass}}" href="#">{{followedText}}</a>
				{{/if}}
			</div>
		</div>
		<hr/>
		<div class="form-group">
			<div class="controls">
				<label class="control-label">{{followersCount}} người theo dõi chủ đề {{usersFollowers.tag}}</label>
				<div>
				{{#each users}} 
					<a class="navbar-default" href="{{pathFor 'userPage'}}">{{profile.name}}</a> 
				{{/each}}
				</div>
			</div>
		</div>
		<hr/>
		<div class="form-group">
			<div class="controls">
				<label class="control-label">{{postsCount}} bài viết</label>
			</div>
			<div class="wrapper">
			{{#each posts}}
				{{> postItem}}
			{{/each}}
		</div>
		</div>

	</div>
</template>