<template name="layout">
	{{> header}}
	<div class="container" style="padding-top:60px;">
		{{> errors}}
		<div id="main" class="row-fluid">
			<div class="navbar navbar-default">
				<div class="container-fluid">
					<ul class="nav navbar-nav" style="width:100%">
						<li class="{{activeRouteClass 'home' 'bestPosts'}} navbar-header"><a href="{{pathFor 'bestPosts'}}">Bài viết hay</a></li>
						<li class="{{activeRouteClass 'newPosts'}} navbar-header"><a href="{{pathFor 'newPosts'}}">Bài viết mới</a></li>
						<li class="{{activeRouteClass 'tags'}} navbar-header navbar-right"><a href="{{pathFor 'tags'}}">Chủ đề</a></li>
					</ul>
				</div>
				{{> yield}}
			</div>
		</div>
		<div class="userOnline">
			{{> userOnline}}
		</div>
	</div>
	<div class="container">
		{{>footer}}
	</div>
</template>